DB_SQL_NAME=mariadb
DB_URL=localhost:3306/mydb
DB_PORT=3306
DB_LOGIN=example_login
DB_PASSWORD=example_password
DB_ROOT_PASSWORD=example_password

MINIO_SERVICE_NAME=localhost
MINIO_PASSWORD=minio123

REDIS_PORT=6379
REDIS_HOST=localhost
